{% load static %}
{% load i18n %}

<!-- ...::: Start About Display Section :::... -->
<div id="about" class="about-display-section section-top-gap-200 section-fluid-185">
    <div class="box-wrapper">
        <div class="container ">
            <div class="row">
                <div class="col-12 d-flex flex-column flex-md-row align-items-center">
                    <div class="about-display-img">
                        <img class="img-fluid animate-top-bottom"
                             src="{% static 'assets/images/background/about-display-img.png' %}" alt="">
                    </div>
                    <!-- Start About Content -->
                    <div class="about-content">
                        <!-- Start Section Content -->
                        <div class="secton-content">
                            <span class="section-tag">{% trans "Hakkımızda" %}</span>
                            <h2 class="section-title">
                                <span class="title-bold">{% trans "Müşterilerimize özel" %}</span>
                                <span class="title-normal">{% trans "iletişim stratejileri ve çözümleri geliştiriyoruz!" %}</span>
                            </h2>
                        </div>
                        <h5>
                            {% blocktrans trimmed %}
                                Yaratıcı fikirlerle güçlendirdiğimiz <b>dijital, sosyal ve prodüksiyon</b> çözümlerimiz ile,
                                müşterilerimizin kitleleri ile <b>veriye dayalı daha güçlü bir iletişim sağlamasını hedefliyoruz.</b>
                            {% endblocktrans %}
                        </h5>
                        <p>
                            {% blocktrans trimmed %}
                                <br><b>Black Cap Digital</b> çözümlerimiz ile dijital pazarlama yolculugunuzu kurguluyor,
                                müsterilerinizin beklentilerini karsilayacak web deneyimini tasarliyor, hayata geçiriyor ve satış potansiyelinizi güçlendiriyoruz.<br /> 

<br><b>Black Cap Social</b> ile hedef kitlenizi inceliyor,
                                beklentilerine
                                özel stratejiler geliştiriyor, etkileşime geciyor ve sosyal medya kanallarınızı
                                güçlendiriyoruz.<br /> 

<br><b>Black Cap Production</b> ile markanızı ekranlara taşıyor, ses
                                getirecek tanıtım filmi, video klip, fotoğraf çekimi ve size özel prodüksiyon
                                hizmetleri sunuyoruz.<br />

 <br><b>Dijital dönüşüm</b> yolculuğunuzda size en uygun dijital pazarlama modelini uygulamak, geliştirmek ve markanıza katma değer sağlamak için bize ulaşmanız yeterli.<br /> 
                            {% endblocktrans %}
                        </p>
                        <a href="{% url 'home' %}#contact"
                           class="btn btn-lg btn-default-outline btn-animate icon-space-left"><span> {% trans "İletişime Geç" %} <i
                                class="icofont-double-right"></i></span></a>
                        <!-- End Section Content -->
                    </div>
                    <!-- End About Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End About Display Section :::... -->