{% load i18n %}
<div class="book-form ">
    <form class="default-form-group" action="{% url 'send_message' %}" method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-dark">
                    {{ message|safe }}
                </div>
            {% endfor %}
            <br>
        {% endif %}
        <div class="row mb-n20">
            <div class="col-12 mb-20">
                <!-- Start From Group SingleI tem  -->
                <div class="default-form-group-single-item border-white">
                    <input type="text" placeholder="{% trans 'Adınız / Soyadınız' %}" name="full_name" required>
                </div>
                <!-- End From Group SingleItem  -->
            </div>
            <div class="col-12 mb-20">
                <!-- Start From Group SingleI tem  -->
                <div class="default-form-group-single-item border-white">
                    <input type="text" placeholder="{% trans 'Telefon Numaranız' %}" name="phone" required>
                </div>
                <!-- End From Group SingleItem  -->
            </div>
            <div class="col-12 col-sm-6 mb-20">
                <!-- Start From Group SingleI tem  -->
                <div class="default-form-group-single-item border-white">
                    <select name="contact-topic" required>
                        <option value="">{% trans 'Hizmet Talebiniz' %}</option>
                        <option value="Dijital Danışmanlık">{% trans 'Dijital Danışmanlık' %}</option>
                        <option value="Kampanya">{% trans 'Kampanya Yönetimi' %}</option>
                        <option value="Web Geliştirme">{% trans 'Web Tasarım' %}</option>
                        <option value="E-ticaret">{% trans 'E-Ticaret' %}</option>
                        <option value="SEO">{% trans 'SEO' %}</option>
                        <option value="Google Ads">{% trans 'Google Ads' %}</option>
                        <option value="Sosyal Medya Yönetimi">{% trans 'Sosyal Medya Yönetimi' %}</option>
                        <option value="Prodüksiyon Hizmetleri">{% trans 'Prodüksiyon Hizmetleri' %}</option>
                        <option value="Kurumsal Tanıtım Filmi">{% trans 'Kurumsal Tanıtım Filmi' %}</option>
                        <option value="Fotoğraf Çekimi">{% trans 'Fotoğraf Çekimi' %}</option>
                    </select>
                </div>
                <!-- End From Group SingleItem  -->
            </div>
            <div class="col-12 col-sm-6 mb-20">
                <!-- Start From Group SingleI tem  -->
                <div class="default-form-group-single-item border-white">
                    <input name="email" type="email" placeholder="{% trans 'E-mail' %}" required>
                </div>
                <!-- End From Group SingleItem  -->
            </div>
            <div class="col-12 mb-20">
                <div class="default-form-group-single-item border-white">
                    <textarea name="contact-method" rows="4" placeholder="{% trans 'Bize nereden ulaştınız?' %}"
                              required></textarea>
                </div>
            </div>

            <div class="col-12 mb-20">
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" name="kvkkk" required class="form-check-input border-white">
                        <label class="form-check-label text-white text-start">
                            {% blocktrans trimmed %}
                                Lütfen KVKK kapsamında kişisel verilerinizi Black Cap Media ile paylaştığınızı
                                onaylayınız.
                                Gizlilik uygulamalarımız hakkında bilgi için web sitemizdeki
                                <a class="text-white" href="https://theblackcapmedia.com/aydinlatma-metni/"
                                   target="_blank"><b>KVKK Aydınlatma Metni</b></a> sayfamızı
                                ziyaret edebilirsiniz.
                            {% endblocktrans %}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="submit-btn text-center">
            <button type="submit" class="btn btn-lg btn-default btn-animate icon-space-left">
                <span>
                    {% trans "Gönder" %}
                    <i class="icofont-double-right"></i>
                </span>
            </button>
        </div>
    </form>
</div>