{% load static %}
{% load i18n %}
{% load dijital %}

<!-- ...::: Start Blog Feed Display Section :::... -->
<div id="dijital" class="blog-feed-display-section py-5  pos-relative overflow-hidden">
    <div class="box-wrapper">
        <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-lg-6 ">
                    <!-- Start Blog Feed Slider -->
                    <div class="blog-feed-slider pos-relative">
                        <!-- Slider main container -->
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                {% get_dijital_list as dijital_list %}
                                {% for dijital in dijital_list %}
                                    <!-- Start Blog Feed Single Item -->
                                    <div class="blog-feed-single-item swiper-slide">
                                        <div class="image">
                                            <img src="{{ dijital.image.url }}" alt="{{ dijital.title }}">
                                        </div>
                                        <div class="content">
                                            <div class="info">
                                                <a href="" class="catagory">{{ dijital.title }}</a>
                                            </div>
                                            <h5 class="title">
                                                <a href="">{{ dijital.text|safe }}</a>
                                            </h5>
                                            <a href="#" class="btn btn-sm btn-light-blue">{% trans "Detaylı Bilgi Al" %}
                                                <i
                                                        class="icofont-double-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- End Blog Feed Single Item -->
                                {% endfor %}

                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- End Blog Feed Slider -->
                </div>

                <div class="col-lg-5 offset-lg-1 ">
                    <!-- Start Section Content -->
                    <div class="secton-content text-center text-lg-start">
                        <span class="section-tag">{% trans "Dijital" %}</span>
                        <h2 class="section-title">
                            <span class="title-bold">{% trans "Dijital Dönüşüm için hazır mısınız?" %}</span>
                            <br>
                            <span class="title-normal">{% trans "Size en uygun planı gelin birlikte seçelim!" %}</span>
                        </h2>
                        <p>
                            {% blocktrans trimmed %}
                                Black Cap Media'da zamanımızın çoğunu değişken dijital pazarlama
                                algoritmalarını, sosyal medya trendlerini ve prodüksiyon tekniklerini
                                kesfetmek ile geçiriyoruz. Güncel platform ve teknolojilere uyum
                                sağlayarak edindiğimiz tüm bu bilgileri gerçeklestireceğimiz yeni
                                projelerde uyguluyoruz. Farklı yetkinliklere sahip ekibimiz ile
                                müşterilerimizin beklentilerinin ötesinde değer yaratabilmek için B2B
                                (işletmeden-işletmeye) ve B2C (işletmeden-tüketiciye) odaklı çözümler
                                sunuyoruz.
                            {% endblocktrans %}
                        </p>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
        </div>
        <!-- Start Doctor Shape -->
        <div class="blog-feed-shape blog-feed-shape-1"></div>
        <div class="blog-feed-shape blog-feed-shape-2"></div>
        <!-- End Doctor Shape -->
    </div>
</div>
<!-- ...::: End Blog Feed Display Section :::... -->
