{% load static %}
{% load i18n %}


{% url 'home' as home_url %}

<!-- ...::: Start Footer Section :::... -->
<footer class="footer-section section-top-gap-200">
    <!-- Start Footer Top Area -->
    <div class="footer-top-area section-inner-padding-200">
        <div class="footer-top-shape">
            <img class="img-width" src="{% static 'assets/images/background/footer-shape-bg.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-top-box-wrapper">
                        <!-- Start Footer About -->
                        <div class="footer-top-single-item footer-about">
                            <a href="{{ home_url }}" class="logo">
                                <img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}" alt="">
                            </a>
                            <p>
                                {% blocktrans trimmed %}
                                    Bizler dijital dünyanın ajansıyız. Yaratıcı fikirlerle güçlendirdiğimiz dijital,
                                    sosyal ve prodüksiyon çözümlerimiz ile, müşterilerimizin kitleleri ile daha iyi bir
                                    iletişim kurabilmesini hedefliyoruz.
                                {% endblocktrans %}
                            </p>

                        </div>
                        <!-- End Footer About -->
                        <!-- Start Footer Widget -->
                        <div class="footer-top-single-item footer-menu footer-widget">
                            <h4 class="title">{% trans "Black Cap" %}</h4>

                            <ul class="footer-nav">
                                <li><a href="{{ home_url }}#about">{% trans "Hakkımızda" %}</a></li>
                                <li><a href="{{ home_url }}#solutions">{% trans "Çözümlerimiz" %}</a></li>
                                <li><a href="{{ home_url }}#dijital">{% trans "Dijital" %}</a></li>
                                <li><a href="{{ home_url }}#our-services">{% trans "Hizmetlerimiz" %}</a></li>
                                <li><a href="{{ home_url }}#references">{% trans "Referanslarımız" %}</a></li>
                                <li><a href="https://theblackcapmedia.com/">theblackcapmedia.com</a></li>
                                <li><a href="https://theblackcapmedia.com/aydinlatma-metni/"
                                       target="_blank">{% trans "KVKK Aydınlatma Metni" %}</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                        <!-- Start Footer Widget -->
                        <div class="footer-top-single-item footer-social footer-widget">
                            <h4 class="title">{% trans "Takipte Kalın" %}</h4>

                            <ul class="social-link-2">
                                <li>
                                    <a href="{% include 'variables/facebook_link.html' %}" target="_blank">
                                        <span class="icon"><i class="icofont-facebook"></i></span>
                                        <span class="text">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% include 'variables/twitter_link.html' %}" target="_blank">
                                        <span class="icon"><i class="icofont-twitter"></i></span>
                                        <span class="text">Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% include 'variables/instagram_link.html' %}" target="_blank">
                                        <span class="icon"><i class="icofont-instagram"></i></span>
                                        <span class="text">Instagram</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% include 'variables/youtube_link.html' %}" target="_blank">
                                        <span class="icon"><i class="icofont-youtube-play"></i></span>
                                        <span class="text">Youtube</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% include 'variables/linkedin_link.html' %}" target="_blank">
                                        <span class="icon"><i class="icofont-linkedin"></i></span>
                                        <span class="text">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                        <!-- Start Footer Widget -->
                        <div class="footer-top-single-item footer-contact footer-widget">
                            <h4 class="title">{% trans "İletişim" %}</h4>

                            <div class="footer-info">
                                <address class="footer-single-info">
                                    <span class="icon"><i class="icofont-google-map"></i></span>
                                    <span class="text">{% include "variables/address.html" %}</span>
                                </address>
                                <a href="tel:{% include 'variables/phone-link.html' %}" class="footer-single-info">
                                    <span class="icon"><i class="icofont-phone"></i></span>
                                    <span class="text">{% include "variables/phone-display.html" %}</span>
                                </a>
                                <a href="mailto:{% include 'variables/email.html' %}" class="footer-single-info">
                                    <span class="icon"><i class="icofont-envelope"></i></span>
                                    <span class="text">{% include 'variables/email.html' %}</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Footer Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top Area -->

    <!-- Start Footer BottomArea -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="copyright-text text-center">
                        Site <i class="icofont-heart mark-color"></i> by
                        <a target="_blank" rel="noopener" href="https://theblackcapmedia.com/" class="company-site">
                            Black Cap Media </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area-->
</footer>
<!-- ...::: End Footer Section :::... -->

