{% load static %}
{% load i18n %}
{% load ourservices %}
<!-- ...::: Start Cases Display Section :::... -->
<div id="our-services" class="cases-display-section section-fluid-185 section-top-gap-200">
    <div class="box-wrapper">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 d-flex flex-md-row flex-column align-items-center justify-content-between">
                    <!-- Start Section Content -->
                    <div class="secton-content">
                        <span class="section-tag">{% trans "Hizmetlerimiz" %}</span>
                        <h2 class="section-title">
                            <span class="title-bold">{% trans "Dijital Dönüşüm Yolculuğunda" %}
                            </span>
                            <br>
                            <span class="title-normal">{% trans "Size hangi konuda yardımcı olabiliriz?" %}</span>
                        </h2>
                    </div>
                    <!-- End Section Content -->

                    {% include "components/emergency-call.html" with extra_class="d-none d-md-block" %}
                </div>
            </div>
            <!-- Start Cases Area -->
            <div class="cases-area my-4">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Cases Slider -->
                        <div class="cases-slider default-slider-nav pos-relative">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    {% get_ourservices_list as ourservices %}
                                    {% for service_item in ourservices %}
                                        <!-- Start Cases Single Item -->
                                        <div class="cases-slider-single-item swiper-slide">
                                            <a href="{% url 'home' %}#contact" class="image img-responsive text-center">
                                                <img src="{{ service_item.image.url }}" alt="{{ service_item.title }}">
                                            </a>
                                            <div class="content text-center">
                                                <h4 class="title">{{ service_item.title }}</h4>

                                                <a href="{% url 'home' %}#contact"
                                                   class="btn btn-lg btn-default-outline btn-animate icon-space-left"><span> {% trans "İletişime Geç" %} <i
                                                        class="icofont-double-right"></i></span></a>
                                            </div>
                                        </div>
                                        <!-- End Cases Single Item -->
                                    {% endfor %}

                                </div>
                            </div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- End Cases Slider -->
                    </div>
                </div>
            </div>
            <!-- End Cases Area -->

        </div>
    </div>
</div>
<!-- ...::: End Cases Display Section :::... -->
