{% load static %}
{% load i18n %}

<!-- ...::: Start Service Display Section :::... -->
<div id="our-solutions" class="service-display-section section-top-gap-200 section-fluid-185">
    <div class="box-wrapper section-inner-padding-145 section-inner-bg container-border-radius">
        <div class="container">
            <div class="row align-items-center justify-content-xl-evenly justify-content-xxl-between">
                <div class="col-xl-5 col-lg-5">
                    <!-- Start Section Content -->
                    <div class="secton-content">
                        <span class="section-tag">{% trans "Çözümlerimiz" %}</span>
                        <h2 class="section-title">
                            <span class="title-bold">"{% trans "Marka yönetimi" %}</span>
                            <span class="title-normal">{% trans 'müşterilerinize nasıl seslendiğiniz ile ilgilidir!' %}"</span>
                        </h2>
                        <a href="{% url 'home' %}#contact"
                           class="btn btn-lg btn-default-outline btn-animate icon-space-left">
                            <span>
                                {% trans "İletişime geçin" %}
                                <i class="icofont-double-right"></i>
                            </span>
                        </a>
                    </div>
                    <!-- End Section Content -->
                </div>
                <div class="col-xl-6 col-lg-7">
                    <!-- Start Service Display List -->
                    <div class="service-display-list">


                        <ul class="list-item">
                            <h3 class="mb-3">{% trans "Size hangi konuda yardımcı olabiliriz?" %}</h3>
                            <!-- Start Single Service List -->
                            <li>
                                <a href="{% include 'variables/whatsapp_link.html' %}">
                                    <div class="icon-image"><img
                                            src="{% static 'assets/images/icons/blackcapsapka.png' %}"
                                            alt=""></div>
                                    <div class="text">{% trans 'Dijital Danışmanlık' %}</div>
                                </a>
                            </li>
                            <!-- End Single Service List -->
                            <!-- Start Single Service List -->
                            <li>
                                <a href="{% include 'variables/whatsapp_link.html' %}">
                                    <div class="icon-image"><img
                                            src="{% static 'assets/images/icons/blackcapsapka.png' %}"
                                            alt=""></div>
                                    <div class="text">{% trans "Web Geliştirme" %}</div>
                                </a>
                            </li>
                            <!-- End Single Service List -->
                            <!-- Start Single Service List -->
                            <li>
                                <a href="{% include 'variables/whatsapp_link.html' %}">
                                    <div class="icon-image"><img
                                            src="{% static 'assets/images/icons/blackcapsapka.png' %}"
                                            alt=""></div>
                                    <div class="text">{% trans "Sosyal Medya" %}</div>
                                </a>
                            </li>
                            <!-- End Single Service List -->
                            <!-- Start Single Service List -->
                            <li>
                                <a href="{% include 'variables/whatsapp_link.html' %}">
                                    <div class="icon-image"><img
                                            src="{% static 'assets/images/icons/blackcapsapka.png' %}"
                                            alt="">
                                    </div>
                                    <div class="text">{% trans "Prodüksiyon" %}</div>
                                </a>
                            </li>
                            <!-- End Single Service List -->
                        </ul>
                    </div>
                    <!-- End Service Display List -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Service Display Section :::... -->
