{% load i18n %}
{% load static %}
{% load references %}

{% get_references_list as references_list %}
<!-- ...::: Start Doctors Team Display Section :::... -->
<div id="references"
     class="doctors-team-display section-inner-padding-200 section-top-gap-200 section-inner-bg pos-relative overflow-hidden">
    <div class="box-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Content -->
                    <div class="secton-content section-shape text-center">
                        <span class="section-tag">{% trans "Referanslarımız" %}</span>
                        <h2 class="section-title">
                            <span class="title-bold">{% trans "Black Cap Media" %}</span>
                            <br>
                            <span class="title-normal">{% trans "Dijital - Sosyal & Prodüksiyon Referansları" %}</span>
                        </h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
            <!-- Start Doctors Team Area -->
            <div class="doctors-team-area section-top-gap-150">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Doctor Team Slider -->
                        <div class="doctors-team-slider default-slider-nav pos-relative">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">

                                    {% for reference in references_list %}
                                        <!-- Start Doctors Team Single Item -->
                                        <div class="doctors-team-single-item swiper-slide">
                                            <a href="#referenceImageModal-{{ forloop.counter }}"
                                               class="images img-responsive" data-bs-toggle="modal"
                                               data-bs-target="#referenceImageModal-{{ forloop.counter }}">
                                                <img src="{{ reference.image.url }}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <!-- End Doctors Team Single Item -->

                                    {% endfor %}
                                </div>
                            </div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- End Doctor Team Slider -->
                    </div>
                </div>
            </div>
            <!-- End Doctors Team Area -->
        </div>

        {% for reference in references_list %}
            <!-- Modal -->
            <div class="modal fade" id="referenceImageModal-{{ forloop.counter }}"
                 tabindex="-1"
                 aria-labelledby="referenceImageModal-{{ forloop.counter }}"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-body ">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            <div class="text-center">
                                <img src="{{ reference.image.url }}"
                                     alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- ...::: End Doctors Team Display Section :::... -->
